---
import Layout from "../layouts/Layout.astro";
import Branch from "../components/iconos/Branch.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Contenedor from "../components/Contenedor.astro";
import Introduccion from "../components/Intro.astro";
import Text from "../components/Text.astro";
import Certificados from "../components/Certificados.astro";
import CertificateIcon from "../components/iconos/CertificateIcon.astro";
---

<Layout
  title="Álvaro Rodríguez Chofles - Portfolio"
  description="Portfolio de Álvaro. Desarrollador de Aplicaciones Web."
>
  <main class="px-4">
    <Contenedor class="py-16 md:py-36">
      <Introduccion />
    </Contenedor>
  </main>
  <div class="space-y-24">
    <Contenedor id="proyectos">
      <h2
        class="flex items-center py-3 mb-8 justify-center text-3xl font-semibold gap-x-3"
      >
        <Branch class="size-8" />
        <Text>Proyectos</Text>
      </h2>

      <Proyectos />
    </Contenedor>
    <Contenedor id="experiencia">
      <h2
        class="flex items-center py-3 justify-center mb-8 text-3xl font-semibold gap-x-3"
      >
      </h2>
      <Experiencia />
    </Contenedor>

    <Contenedor id="certificados">
      <h2
        class="flex items-center py-3 justify-center mb-8 text-3xl font-semibold gap-x-3"
      >
        <CertificateIcon class="size-8" />
        <Text>Certificados</Text>
      </h2>
      <Certificados />
    </Contenedor>
  </div>
</Layout>
