---
const { class: className } = Astro.props;
---

<div
  class={` ${className} relative h-auto w-auto rounded-md border border-gray-800 bg-gradient-to-b from-gray-950 to-black px-3 py-2`}
>
  <slot />
</div>
