---


import Card from "./Card.astro"



const CERTIFICADOS = [
  {
    fecha: "Abril 2023",
    titulo: "CEFR Level B1",
    compa単ia: "Trinity College London",
   
  },
  {
    fecha: "Abril 2023",
    titulo: "Curso JavaScript",
    compa単ia: "OpenWebinars",
   
  },
  {
    fecha: "Abril 2023",
    titulo: "Curso React",
    compa単ia: "OpenWebinars",
  
  },


]
---
<div class="grid grid-cols-2 gap-2 px-3">


{
  CERTIFICADOS.map((certificado) => (
    <Card>
        <h1 class="font-bold text-2xl text-left">{certificado.titulo}</h1>
        <h2 class="text-md text-left">{certificado.compa単ia}</h2>
        <h3 class="block mb-2 text-sm font-normal leading-none text-gray-500 text-left">{certificado.fecha}</h3>
     
    </Card>
  ))
}


</div>
